* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.products .container .product img{
    border-radius: 100%;
   
}
header{
  background-image: url('images/hudo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
main{
    padding-top: 1%;
background-color: rgb(238, 237, 238);

}
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    background-color: rgb(10, 10, 10, 0.3);
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span{
    padding-left: 5px;
}

li a{
    padding: 5px;
    background-color: #fff;
    text-decoration: none;
}

.cart ion-icon{
    
vertical-align: bottom;
font-size: 20px;
padding-right: 5px;
}

.cart a{
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4
     {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

.add-cart{
    position: absolute;
    width: 100px;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

/*...........CART PAGE........... */
.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon{
     font-size: 25px;
     color: blue;
     margin-left: 10px;
     margin-right: 10px;
     cursor: pointer;

}
.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgrey;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}


.price{
    width: 15%;
    
    display: flex;
    align-items: center;
}

.quantity{

    width: 20%;
    display: flex;
    align-items: center;
}

.total{
    width: 7px;
    display: flex;
    
    align-items: center;
}

.products{
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    
    margin-right: 10%;
   flex-wrap: wrap;  
   margin-bottom: 0;
}


/*  product css */
.products .product{
    display: flex;
    align-items: center;
    margin-right: 5%;
   
    
}
.products .container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -100px;
    
}

.products .price{
   
}
.products .quantity{
   margin-right: 5%;
   
}

.products .total{
    margin-right: 7%;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: 15%;
    margin-top: 1%;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    
}
.basketTotalTitle{
    width:30%;
}
.basketTotal{
    width: 11%;
}
.checkout {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    width: 100%;
    padding: 7px 0;
   color: lightcoral;
    
    margin-right: 10%;
}

.checkout button {
border: 30% 20%;

}


/*--------  MOBILE DESIGN -------  */
@media only screen and (max-width:418px) {
   nav{
       width: 100%;
       display: flex;
       font-size: 11px;
   }
    nav h2{
        position: absolute;
        left: 0;
        margin-right: auto;
    }
    nav ul {
   position: absolute;
   right: 0;

    }
}
@media only screen and (max-width:542px){
    .price{
       position: absolute;
       left:34%;
    }
    .total{
        position: absolute;
        right: 15%;
    }
    .quantity{
        position: absolute;
        left: 58%;
    }
   .products .container .product{
       position: absolute;
       left: 0;
   }
   .products .container .product img{
       width: 90px;
       position: absolute;
       left: 32px;
       border-radius: 70%;
   }
   .products .container .product span{
       background-color: orangered;
       position: absolute;
       bottom:30px;
       opacity: 0;
       font-size: 15px;

   }
   .products .container .price{
       
       position: absolute;
       left: 34%;
   }
   .products .container .quantity{
       width: 30%;
    
       position: absolute;
       left: 55%;
   }
   .products .container .total{
       width: 10%;
      
       position: absolute;
       right: 0.5%;
      
   }
   .products .container {
       margin-bottom: 0.5px;
       
   }

}
 
